/* CSS Variables for @yoopta/themes-shadcn */
/* Import this file in your project to use the theme */

/* change naming, add prefix yoopta-shadcn- */
:root {
  --yoopta-shadcn-background: 0 0% 100%;
  --yoopta-shadcn-foreground: 0 0% 3.9%;
  --yoopta-shadcn-card: 0 0% 100%;
  --yoopta-shadcn-card-foreground: 0 0% 3.9%;
  --yoopta-shadcn-popover: 0 0% 100%;
  --yoopta-shadcn-popover-foreground: 0 0% 3.9%;
  --yoopta-shadcn-primary: 0 0% 9%;
  --yoopta-shadcn-primary-foreground: 0 0% 98%;
  --yoopta-shadcn-secondary: 0 0% 96.1%;
  --yoopta-shadcn-secondary-foreground: 0 0% 9%;
  --yoopta-shadcn-muted: 0 0% 96.1%;
  --yoopta-shadcn-muted-foreground: 0 0% 45.1%;
  --yoopta-shadcn-accent: 0 0% 96.1%;
  --yoopta-shadcn-accent-foreground: 0 0% 9%;
  --yoopta-shadcn-destructive: 0 84.2% 60.2%;
  --yoopta-shadcn-destructive-foreground: 0 0% 98%;
  --yoopta-shadcn-border: 0 0% 89.8%;
  --yoopta-shadcn-input: 0 0% 89.8%;
  --yoopta-shadcn-ring: 0 0% 3.9%;
  --yoopta-shadcn-radius: 0.5rem;
}

/* change naming, add prefix yoopta-shadcn- */
.dark,
[data-theme='dark'],
[data-yoopta-theme='dark'] {
  --yoopta-shadcn-background: 0 0% 3.9%;
  --yoopta-shadcn-foreground: 0 0% 98%;
  --yoopta-shadcn-card: 0 0% 3.9%;
  --yoopta-shadcn-card-foreground: 0 0% 98%;
  --yoopta-shadcn-popover: 0 0% 3.9%;
  --yoopta-shadcn-popover-foreground: 0 0% 98%;
  --yoopta-shadcn-primary: 0 0% 98%;
  --yoopta-shadcn-primary-foreground: 0 0% 9%;
  --yoopta-shadcn-secondary: 0 0% 14.9%;
  --yoopta-shadcn-secondary-foreground: 0 0% 98%;
  --yoopta-shadcn-muted: 0 0% 14.9%;
  --yoopta-shadcn-muted-foreground: 0 0% 63.9%;
  --yoopta-shadcn-accent: 0 0% 14.9%;
  --yoopta-shadcn-accent-foreground: 0 0% 98%;
  --yoopta-shadcn-destructive: 0 62.8% 30.6%;
  --yoopta-shadcn-destructive-foreground: 0 0% 98%;
  --yoopta-shadcn-border: 0 0% 14.9%;
  --yoopta-shadcn-input: 0 0% 14.9%;
  --yoopta-shadcn-ring: 0 0% 83.1%;
}